NEXT_PUBLIC_BLOG_ID=
NEXT_PUBLIC_BASE_URL=https://seu-dominio.vercel.app
NEXT_PUBLIC_BLOG_DISPLAY_NAME=PsicologaEmOutraDimensão
NEXT_PUBLIC_BLOG_DESCRIPTION=Blog pessoal
OG_IMAGE_SECRET=
REVALIDATION_SECRET=
