modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["libxcrypt"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Mapa Astral App"

[[workflows.workflow]]
name = "Mapa Astral App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn app.main:app --host=0.0.0.0 --port=5000 --reload --log-level debug"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35869
externalPort = 3001

[[ports]]
localPort = 38055
externalPort = 3000

[[ports]]
localPort = 42625
externalPort = 3002

[[ports]]
localPort = 44565
externalPort = 3003

[deployment]
deploymentTarget = "autoscale"
run = ["uvicorn", "app.main:app", "--host=0.0.0.0", "--port=5000"]
